@model wishlist.Models.Manage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage</h2>
<form method="post">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="comment" placeholder="comment" />
    <input type="text" name="url" placeholder="url" />
    <input type="submit" value="Add" />
</form>
@if (!string.IsNullOrEmpty(Model.error))
{
    <div class="error">
        Error: @Model.error
    </div>
}
<div class="row">
    <div class="col">
        <h2>Wishlist</h2>
        <table class="table table-bordered table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Comment</th>
                <th scope="col">URL</th>
                <th scope="col">Added on</th>
                <th scope="col">Save</th>
                <th scope="col">Delete</th>
            </tr>
            @foreach (var row in Model.data)
            {
                <tr>
                    <form method="post">
                        <td>
                            <input type="hidden" name="ID" value="@row[0]" />
                            @row[0]
                        </td>
                        <td>
                            <input type="text" value="@row[1]" name="name" />
                        </td>
                        <td>
                            <input type="text" value="@row[3]" name="comment" />
                        </td>
                        <td>
                            <input type="text" value="@row[2]" name="url" />
                        </td>
                        <td>
                            <input type="text" value="@row[4]" name="added_on" />
                        </td>
                        <td>
                            <input type="submit" name="save" value="Save" />
                        </td>
                        <td>
                            <input type="submit" name="delete" value="Delete" />
                        </td>
                    </form>
                </tr>
            }
        </table>
    </div>
</div>
